<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="false">
  <test name="Test1">
     
    <!--packages>
    	<package name="epic_test_pkg"/> 
    </packages-->
   
    <classes>
    <class name="epic_test_pkg.Init">
   	</class>
   	<class name="epic_test_pkg.MultipleRegister"/>
   	<!--  
   	<class name="epic_test_pkg.Epic_Signup"/>
   	
   	<class name="epic_test_pkg.Epic_Login"/>
   	<class name="epic_test_pkg.MultipleLogin"/>
   	-->
    </classes>
  </test>
</suite> 
